In [2]:
'''
【课程2.2】  Pandas数据结构Series：基本概念及创建

"一维数组"Serise

'''

'\n【课程2.2】  Pandas数据结构Series：基本概念及创建\n\n"一维数组"Serise\n\n'

In [3]:
import numpy as np
import pandas as pd

In [9]:
# Series 数据结构
# Series 是带有标签的一维数组，可以保存任何数据类型（整数，字符串，浮点数，Python对象等）,轴标签统称为索引

ar = np.random.rand(5)
s = pd.Series(ar)
print(ar)
print(s)
print(type(s))
print('-------------------------')

print(s.index)
print(list(s.index))
print(s.values)
# .index查看series索引，类型为rangeindex
# .values查看series值，类型是ndarray

# 核心：series相比于ndarray，是一个自带索引index的数组 → 一维数组 + 对应索引
# 所以当只看series的值的时候，就是一个ndarray
# series和ndarray较相似，索引切片功能差别不大
# series和dict相比，series更像一个有顺序的字典（dict本身不存在顺序），其索引原理与字典相似（一个用key，一个用index）

[0.08857596 0.64821116 0.07071126 0.03437475 0.08574439]
0    0.088576
1    0.648211
2    0.070711
3    0.034375
4    0.085744
dtype: float64
<class 'pandas.core.series.Series'>
-------------------------
RangeIndex(start=0, stop=5, step=1)
[0, 1, 2, 3, 4]
[0.08857596 0.64821116 0.07071126 0.03437475 0.08574439]

In [13]:
# Series 创建方法一：由字典创建，字典的key就是index，values就是values
dic = {'a':1,'b':2,'c':3,4:3,5:10}
s = pd.Series(dic)
print(s)

a     1
b     2
c     3
4     3
5    10
dtype: int64

In [20]:
# Series 创建方法二：由数组创建(一维数组)

arr = np.random.rand(10)*100
s = pd.Series(arr,index= list('abcdefghij'),dtype = np.int)
print(s)
# index参数：设置index，长度保持一致
# dtype参数：设置数值类型

a    29
b    18
c    30
d    54
e    95
f    29
g    49
h    65
i    29
j    95
dtype: int32

In [21]:
# Series 创建方法三：由标量创建

s = pd.Series(10, index = range(4))
print(s)
# 如果data是标量值，则必须提供索引。该值会重复，来匹配索引的长度

0    10
1    10
2    10
3    10
dtype: int64

In [23]:
# Series 名称属性：name

s1 = pd.Series(np.random.randn(5))
print(s1)
print('-----')
s2 = pd.Series(np.random.randn(5),name = 'test')
print(s2)
print(s1.name, s2.name,type(s2.name))
# name为Series的一个参数，创建一个数组的 名称
# .name方法：输出数组的名称，输出格式为str，如果没用定义输出名称，输出为None

s3 = s2.rename('hehehe')
print(s3)
print(s3.name, s2.name)
# .rename()重命名一个数组的名称，并且新指向一个数组，原数组不变

0   -0.937428
1    0.407815
2   -0.852317
3   -2.756351
4    0.456134
dtype: float64
-----
0   -0.570911
1    0.538264
2    1.203698
3    0.126645
4   -0.195931
Name: test, dtype: float64
None test <class 'str'>
0   -0.570911
1    0.538264
2    1.203698
3    0.126645
4   -0.195931
Name: hehehe, dtype: float64
hehehe test

In [48]:
#作业1：分别由字典、数组的方式，创建以下要求的Series
#字典的方式
dic = {'Jack':90.0,'Marry':92.0,'Tom':89.0,'Zack':65.0}
s = pd.Series(dic,dtype = float,name = '作业1')
print(s)

#数组的方式
ar = np.array([90,92,89,65])
s1 = pd.Series(lis,index = ['Jack','Marry','Tom','Zack'],dtype = float,name = '作业1')
print(s1)

Jack     90.0
Marry    92.0
Tom      89.0
Zack     65.0
Name: 作业1, dtype: float64
Jack     90.0
Marry    92.0
Tom      89.0
Zack     65.0
Name: 作业1, dtype: float64

In [49]:
'''
【课程2.3】  Pandas数据结构Series：索引

位置下标 / 标签索引 / 切片索引 / 布尔型索引

'''

'\n【课程2.3】  Pandas数据结构Series：索引\n\n位置下标 / 标签索引 / 切片索引 / 布尔型索引\n\n'

In [4]:
#下标索引

s = pd.Series(np.random.rand(10))
print(s)
print(s[5],type(s[6]),s[7].dtype)
print(type(float(s[6])))
#print(s[-1])
# 位置下标从0开始
# 输出结果为numpy.float格式，
# 可以通过float()函数转换为python float格式
# numpy.float与float占用字节不同
# s[-1]结果如何？  会报错，与序列不太一样

0    0.499484
1    0.348263
2    0.624546
3    0.259769
4    0.266115
5    0.681486
6    0.088787
7    0.754331
8    0.449776
9    0.028112
dtype: float64
0.6814862323233114 <class 'numpy.float64'> float64
<class 'float'>

In [56]:
# 标签索引

s = pd.Series(np.random.rand(5), index = ['a','b','c','d','e'])
print(s)
print(s['a'],type(s['a']),s['a'].dtype)
# 方法类似下标索引，用[]表示，内写上index，注意index是字符串

sci = s[['a','b','e']]
print(sci,type(sci))
# 如果需要选择多个标签的值，用[[]]来表示（相当于[]中包含一个列表）
# 多标签索引结果是新的数组

a    0.959463
b    0.023333
c    0.651073
d    0.427426
e    0.962937
dtype: float64
0.9594631499055825 <class 'numpy.float64'> float64
a    0.959463
b    0.023333
e    0.962937
dtype: float64 <class 'pandas.core.series.Series'>

In [59]:
# 切片索引

s1 = pd.Series(np.random.rand(5))
s2 = pd.Series(np.random.rand(5), index = ['a','b','c','d','e'])
print(s1[1:4],s1[4])    #下标
print(s2['a':'c'],s2['c']) #标签
print(s2[0:3],s2[3])
print('-----')
# 注意：用index做切片是末端包含

print(s2[:-1])
print(s2[::2])
# 下标索引做切片，和list写法一样

1    0.742888
2    0.353762
3    0.381117
dtype: float64 0.374558215877433
a    0.679657
b    0.836772
c    0.619075
dtype: float64 0.6190753256302599
a    0.679657
b    0.836772
c    0.619075
dtype: float64 0.018423065692747098
-----
a    0.679657
b    0.836772
c    0.619075
d    0.018423
dtype: float64
a    0.679657
c    0.619075
e    0.563010
dtype: float64

In [63]:
# 布尔型索引

s = pd.Series(np.random.rand(3)*100)
s[4] = None  # 添加一个空值
print(s)
bs1 = s > 50
bs2 = s.isnull()
bs3 = s.notnull()
print(bs1, type(bs1), bs1.dtype)
print(bs2, type(bs2), bs2.dtype)
print(bs3, type(bs3), bs3.dtype)
print('-----')
# 数组做判断之后，返回的是一个由布尔值组成的新的数组
# .isnull() / .notnull() 判断是否为空值 (None代表空值，NaN代表有问题的数值，两个都会识别为空值)

print(s[s > 50])
print(s[bs3])
# 布尔型索引方法：用[判断条件]表示，其中判断条件可以是 一个语句，或者是 一个布尔型数组！

0    53.9683
1    78.7822
2    84.1224
4       None
dtype: object
0     True
1     True
2     True
4    False
dtype: bool <class 'pandas.core.series.Series'> bool
0    False
1    False
2    False
4     True
dtype: bool <class 'pandas.core.series.Series'> bool
0     True
1     True
2     True
4    False
dtype: bool <class 'pandas.core.series.Series'> bool
-----
0    53.9683
1    78.7822
2    84.1224
dtype: object
0    53.9683
1    78.7822
2    84.1224
dtype: object

In [75]:
# 作业1：创建一个Series，包含10个元素，且每个值为0-100的均匀分布随机值，index为a-j，请分别筛选出：
# ① 标签为b，c的值为多少
# ② Series中第4到6个值是哪些？
# ③ Series中大于50的值有哪些？

s = pd.Series(np.random.rand(10)*100,index= list('abcdefghij'))
print(s)
print('------------------')
print(s['b'])
print(s['c'])
print('------------------')
print(s[3:6])
print('------------------')
print(s[s>50])

a    63.591437
b    59.423962
c    84.818559
d    68.192401
e    26.207708
f    83.676518
g    96.156901
h    31.442246
i    20.085575
j    14.878852
dtype: float64
------------------
59.42396171725566
84.81855909228227
------------------
d    68.192401
e    26.207708
f    83.676518
dtype: float64
------------------
a    63.591437
b    59.423962
c    84.818559
d    68.192401
f    83.676518
g    96.156901
dtype: float64

In [76]:
'''
【课程2.4】  Pandas数据结构Series：基本技巧

数据查看 / 重新索引 / 对齐 / 添加、修改、删除值

'''

'\n【课程2.4】  Pandas数据结构Series：基本技巧\n\n数据查看 / 重新索引 / 对齐 / 添加、修改、删除值\n\n'

In [78]:
# 数据查看

s = pd.Series(np.random.rand(15))
print(s.head())  #默认查看5条
print(s.tail())

0    0.362879
1    0.593829
2    0.715245
3    0.785090
4    0.407732
dtype: float64
10    0.559612
11    0.853864
12    0.429571
13    0.069595
14    0.260961
dtype: float64

In [85]:
#重新索引 reindex   并不是改变名字的方法

s = pd.Series(np.random.rand(5),index = list('abcde'))
print(s)
s1 = s.reindex(list('cdaf'))
print(s1)
print('------------')

s2 = s.reindex(list('cdafikj'),fill_value = 0)  #fill_value将空值统一赋值
print(s2)

a    0.606127
b    0.964902
c    0.574237
d    0.410242
e    0.915955
dtype: float64
c    0.574237
d    0.410242
a    0.606127
f         NaN
dtype: float64
------------
c    0.574237
d    0.410242
a    0.606127
f    0.000000
i    0.000000
k    0.000000
j    0.000000
dtype: float64

In [87]:
# Series对齐

s1 = pd.Series(np.random.rand(3), index = ['Jack','Marry','Tom'])
s2 = pd.Series(np.random.rand(3), index = ['Wang','Jack','Marry'])
print(s1)
print(s2)
print(s1+s2)
# Series 和 ndarray 之间的主要区别是，Series 上的操作会根据标签自动对齐
# index顺序不会影响数值计算，以标签来计算
# 空值和任何值计算结果扔为空值

Jack     0.136022
Marry    0.942212
Tom      0.091246
dtype: float64
Wang     0.776305
Jack     0.314783
Marry    0.833897
dtype: float64
Jack     0.450805
Marry    1.776108
Tom           NaN
Wang          NaN
dtype: float64

In [89]:
# 删除：.drop

s = pd.Series(np.random.rand(5), index = list('ngjur'))
print(s)
s1 = s.drop('n')
s2 = s.drop(['g','j'])    #inplace为True时会改变原数据
print(s1)
print(s2)
print(s)
# drop 删除元素之后返回副本(inplace=False)  默认生成新副本

n    0.700703
g    0.767009
j    0.175164
u    0.210962
r    0.297544
dtype: float64
g    0.767009
j    0.175164
u    0.210962
r    0.297544
dtype: float64
n    0.700703
u    0.210962
r    0.297544
dtype: float64
n    0.700703
g    0.767009
j    0.175164
u    0.210962
r    0.297544
dtype: float64

In [91]:
# 添加

s1 = pd.Series(np.random.rand(5))
s2 = pd.Series(np.random.rand(5), index = list('ngjur'))
print(s1)
print(s2)
s1[5] = 100
s2['a'] = 100
s1[]
print(s1)
print(s2)
print('-----')
# 直接通过下标索引/标签index添加值

s3 = s1.append(s2)
print(s3)
print(s1)
# 通过.append方法，直接添加一个数组
# .append方法生成一个新的数组，不改变之前的数组

0    0.391211
1    0.816896
2    0.480622
3    0.697289
4    0.368057
dtype: float64
n    0.133824
g    0.842371
j    0.611567
u    0.444478
r    0.514809
dtype: float64
0      0.391211
1      0.816896
2      0.480622
3      0.697289
4      0.368057
5    100.000000
dtype: float64
n      0.133824
g      0.842371
j      0.611567
u      0.444478
r      0.514809
a    100.000000
dtype: float64
-----
0      0.391211
1      0.816896
2      0.480622
3      0.697289
4      0.368057
5    100.000000
n      0.133824
g      0.842371
j      0.611567
u      0.444478
r      0.514809
a    100.000000
dtype: float64
0      0.391211
1      0.816896
2      0.480622
3      0.697289
4      0.368057
5    100.000000
dtype: float64

In [102]:
#作业1：如图创建Series，并按照要求修改得到结果
s = pd.Series(np.arange(10),index = list('abcdefghij'),dtype = np.int)
print(s)
s['a'] = 100
s['e'] = 100
s['f'] = 100
s.drop('b',inplace = True)   #修改原副本
print('---------------------')
print(s)

a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
i    8
j    9
dtype: int32
---------------------
a    100
c      2
d      3
e    100
f    100
g      6
h      7
i      8
j      9
dtype: int32

In [108]:
#作业2：已有s1，s2（值为0-10的随机数），请求出s1+s2的值
s1 = pd.Series(np.random.rand(5)*10,index= list('abcde'))
s2 = pd.Series(np.random.rand(5)*10,index= list('cdefg'))
print(s1)
print(s2)
print('--------------------')
print(s1+s2)

a    0.470495
b    1.464754
c    8.317433
d    5.833545
e    7.924211
dtype: float64
c    5.006549
d    4.342247
e    8.451500
f    2.523633
g    1.536518
dtype: float64
--------------------
a          NaN
b          NaN
c    13.323982
d    10.175792
e    16.375711
f          NaN
g          NaN
dtype: float64

In [110]:
'''
【课程2.5】  Pandas数据结构Dataframe：基本概念及创建

"二维数组"Dataframe：是一个表格型的数据结构，包含一组有序的列，其列的值类型可以是数值、字符串、布尔值等。

Dataframe中的数据以一个或多个二维块存放，不是列表、字典或一维数组结构。

'''

'\n【课程2.5】  Pandas数据结构Dataframe：基本概念及创建\n\n"二维数组"Dataframe：是一个表格型的数据结构，包含一组有序的列，其列的值类型可以是数值、字符串、布尔值等。\n\nDataframe中的数据以一个或多个二维块存放，不是列表、字典或一维数组结构。\n\n'

In [112]:
# Dataframe 数据结构
# Dataframe是一个表格型的数据结构，“带有标签的二维数组”。
# Dataframe带有index（行标签）和columns（列标签）

data = {'name':['Jack','Tom','Mary'],
        'age':[18,19,20],
       'gender':['m','m','w']}
frame = pd.DataFrame(data)
print(frame)  
print(type(frame))
print(frame.index,'\n该数据类型为：',type(frame.index))
print(frame.columns,'\n该数据类型为：',type(frame.columns))
print(frame.values,'\n该数据类型为：',type(frame.values))
# 查看数据，数据类型为dataframe
# .index查看行标签
# .columns查看列标签
# .values查看值，数据类型为ndarray

   name  age gender
0  Jack   18      m
1   Tom   19      m
2  Mary   20      w
<class 'pandas.core.frame.DataFrame'>
RangeIndex(start=0, stop=3, step=1)
该数据类型为： <class 'pandas.core.indexes.range.RangeIndex'>
Index(['name', 'age', 'gender'], dtype='object')
该数据类型为： <class 'pandas.core.indexes.base.Index'>
[['Jack' 18 'm']
 ['Tom' 19 'm']
 ['Mary' 20 'w']]
该数据类型为： <class 'numpy.ndarray'>

In [118]:
# Dataframe 创建方法一：由数组/list组成的字典
# 创建方法:pandas.Dataframe()

data1 = {'a':[1,2,3],
        'b':[3,4,5],
        'c':[5,6,7]}
data2 = {'one':np.random.rand(3),
        'two':np.random.rand(3)}   # 这里如果尝试  'two':np.random.rand(4) 会怎么样？
print(data1)
print(data2)
d1 = pd.DataFrame(data1)
d2 = pd.DataFrame(data2)
print(d1)
print(d2)
# 由数组/list组成的字典 创建Dataframe，columns为字典key，index为默认数字标签
# 字典的值的长度必须保持一致！

df1 = pd.DataFrame(data1, columns = ['b','c','a','d'])
print(df1)
df1 = pd.DataFrame(data1, columns = ['b','c'])
print(df1)
# columns参数：可以重新指定列的顺序，格式为list，如果现有数据中没有该列（比如'd'），则产生NaN值
# 如果columns重新指定时候，列的数量可以少于原数据

df2 = pd.DataFrame(data2, index = ['f1','f2','f3'])  # 这里如果尝试  index = ['f1','f2','f3','f4'] 会怎么样？
print(df2)
# index参数：重新定义index，格式为list，长度必须保持一致

{'a': [1, 2, 3], 'b': [3, 4, 5], 'c': [5, 6, 7]}
{'one': array([0.89407708, 0.15069408, 0.52293194]), 'two': array([0.6663681 , 0.93773673, 0.60904444])}
   a  b  c
0  1  3  5
1  2  4  6
2  3  5  7
        one       two
0  0.894077  0.666368
1  0.150694  0.937737
2  0.522932  0.609044
   b  c  a    d
0  3  5  1  NaN
1  4  6  2  NaN
2  5  7  3  NaN
   b  c
0  3  5
1  4  6
2  5  7
         one       two
f1  0.894077  0.666368
f2  0.150694  0.937737
f3  0.522932  0.609044

In [121]:
# Dataframe 创建方法二：由Series组成的字典

data1 = {'one':pd.Series(np.random.rand(2)),
        'two':pd.Series(np.random.rand(3))}  # 没有设置index的Series
data2 = {'one':pd.Series(np.random.rand(2), index = ['a','b']),
        'two':pd.Series(np.random.rand(3),index = ['a','b','c'])}  # 设置了index的Series
print(data1)
print(data2)
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
print(df1)
print(df2)
# 由Seris组成的字典 创建Dataframe，columns为字典key，index为Series的标签（如果Series没有指定标签，则是默认数字标签）
# Series可以长度不一样，生成的Dataframe会出现NaN值

{'one': 0    0.59112
1    0.53609
dtype: float64, 'two': 0    0.123016
1    0.145894
2    0.910364
dtype: float64}
{'one': a    0.787846
b    0.873986
dtype: float64, 'two': a    0.309890
b    0.464850
c    0.741809
dtype: float64}
       one       two
0  0.59112  0.123016
1  0.53609  0.145894
2      NaN  0.910364
        one       two
a  0.787846  0.309890
b  0.873986  0.464850
c       NaN  0.741809

In [6]:
# Dataframe 创建方法三：通过二维数组直接创建

ar = np.random.rand(9).reshape(3,3)
print(ar)
df1 = pd.DataFrame(ar)
df2 = pd.DataFrame(ar, index = ['a', 'b', 'c'], columns = ['one','two','three']) # 可以尝试一下index或columns长度不等于已有数组的情况
print(df1)
print(df2)
# 通过二维数组直接创建Dataframe，得到一样形状的结果数据，如果不指定index和columns，两者均返回默认数字格式
# index和colunms指定长度与原数组保持一致

[[0.25122621 0.30086654 0.21892449]
 [0.52658422 0.77047701 0.48607585]
 [0.40714133 0.29458872 0.26578646]]
          0         1         2
0  0.251226  0.300867  0.218924
1  0.526584  0.770477  0.486076
2  0.407141  0.294589  0.265786
        one       two     three
a  0.251226  0.300867  0.218924
b  0.526584  0.770477  0.486076
c  0.407141  0.294589  0.265786

In [127]:
# Dataframe 创建方法四：由字典组成的列表

data = [{'one': 1, 'two': 2}, {'one': 5, 'two': 10, 'three': 20}]
print(data)
df1 = pd.DataFrame(data)
df2 = pd.DataFrame(data, index = ['a','b'])
df3 = pd.DataFrame(data, columns = ['one','two'])
print(df1)
print(df2)
print(df3)
# 由字典组成的列表创建Dataframe，columns为字典的key，index不做指定则为默认数组标签
# colunms和index参数分别重新指定相应列及行标签

[{'one': 1, 'two': 2}, {'one': 5, 'two': 10, 'three': 20}]
   one  three  two
0    1    NaN    2
1    5   20.0   10
   one  three  two
a    1    NaN    2
b    5   20.0   10
   one  two
0    1    2
1    5   10

In [38]:
# Dataframe 创建方法五：由字典组成的字典

data = {'Jack':{'math':90,'english':89,'art':78},
       'Marry':{'math':82,'english':95,'art':92},
       'Tom':{'math':78,'english':67}}
df1 = pd.DataFrame(data)
print(df1)
# 由字典组成的字典创建Dataframe，columns为字典的key，index为子字典的key

df2 = pd.DataFrame(data, columns = ['Jack','Tom','Bob'])
df3 = pd.DataFrame(data,index = ['a','b','c'])
print(data,type(data))
print(df2)
#print(df3)
# columns参数可以增加和减少现有列，如出现新的列，值为NaN
# index在这里和之前不同，并不能改变原有index，如果指向新的标签，值为NaN （非常重要！）

         Jack  Marry   Tom
art        78     92   NaN
english    89     95  67.0
math       90     82  78.0

AttributeError: 'list' object has no attribute 'astype'

In [148]:
#作业1：用四种不同的方法，创建以下Dataframe（保证columns和index一致，值不做要求）
#按照Dataframe 创建方法一：由数组/list组成的字典

d1 = {'one':list(np.random.randint(5,size = 5)),'two':list(np.random.randint(5,size = 5)),'three':list(np.random.randint(5,size = 5)),'four':list(np.random.randint(5,size = 5))}
print(d1)
d2 = pd.DataFrame(d1,columns = ['four','one','three','two'],index = list('abcde'))
print(d2)

{'one': [2, 3, 2, 0, 2], 'two': [3, 4, 1, 0, 0], 'three': [1, 3, 1, 4, 4], 'four': [0, 3, 4, 0, 1]}
   four  one  three  two
a     0    2      1    3
b     3    3      3    4
c     4    2      1    1
d     0    0      4    0
e     1    2      4    0

In [174]:
# Dataframe 创建方法二：由Series组成的字典
d1 = {'one':pd.Series(np.random.randint(5,size = 5),index = list('abcde')),
      'two':pd.Series(np.random.randint(5,size = 5),index = list('abcde')),
      'three':pd.Series(np.random.randint(5,size = 5),index = list('abcde')),
      'four':pd.Series(np.random.randint(5,size = 5),index = list('abcde'))}
d2 = pd.DataFrame(d1,columns = ['four','one','three','two'])
print(d2)

   four  one  three  two
a     0    3      1    0
b     4    3      3    3
c     1    1      1    0
d     1    2      0    1
e     1    1      3    4

In [179]:
# Dataframe 创建方法三：通过二维数组直接创建
d1 = np.random.randint(10,size = 20).reshape(5,4)
d2 = pd.DataFrame(d1,columns = ['four','one','three','two'],index = list('abcde'))
print(d2)

   four  one  three  two
a     8    2      8    2
b     6    2      1    5
c     0    5      4    2
d     2    0      6    0
e     9    2      6    7

In [183]:
# Dataframe 创建方法四：由字典组成的列表
d1 = [{'one':1,'two':3,'three':4,'four':5},
      {'one':1,'two':3,'three':4,'four':5},
      {'one':1,'two':3,'three':4,'four':5},
      {'one':1,'two':3,'three':4,'four':5},
      {'one':1,'two':3,'three':4,'four':5},]
d2 = pd.DataFrame(d1,columns = ['four','one','three','two'],index = list('abcde'))
print(d2)

   four  one  three  two
a     5    1      4    3
b     5    1      4    3
c     5    1      4    3
d     5    1      4    3
e     5    1      4    3

In [185]:
# Dataframe 创建方法五：由字典组成的字典
d1 = {'four':{'a':4,'b':5,'c':6,'d':7,'e':8},
     'one':{'a':1,'b':2,'c':3,'d':4,'e':5},
     'three':{'a':3,'b':4,'c':5,'d':6,'e':7},
     'two':{'a':2,'b':3,'c':4,'d':5,'e':6},}
d2 = pd.DataFrame(d1)
print(d2)

   four  one  three  two
a     4    1      3    2
b     5    2      4    3
c     6    3      5    4
d     7    4      6    5
e     8    5      7    6

In [186]:
'''
【课程2.6】  Pandas数据结构Dataframe：索引

Dataframe既有行索引也有列索引，可以被看做由Series组成的字典（共用一个索引）

选择列 / 选择行 / 切片 / 布尔判断

'''

'\n【课程2.6】  Pandas数据结构Dataframe：索引\n\nDataframe既有行索引也有列索引，可以被看做由Series组成的字典（共用一个索引）\n\n选择列 / 选择行 / 切片 / 布尔判断\n\n'

In [197]:
# 选择行与列

df = pd.DataFrame(np.random.rand(12).reshape(3,4)*100,
                   index = ['one','two','three'],
                   columns = ['a','b','c','d'])
print(df)

data1 = df['a']
data2 = df[['b','c']]
print(data1,type(data1))
print(data2,type(data2))
# 按照列名选择列，只选择一列输出Series，选择多列输出Dataframe

data3 = df.loc['one']
data4 = df.loc[['three','two']]
print(data3,type(data3))
print(data4,type(data4))
# 按照index选择行，只选择一行输出Series，选择多行输出Dataframe

               a          b          c          d
one     6.703488  86.947128   3.099274  58.928647
two    27.884292  24.205938  84.632230  11.468931
three  14.848811  22.924772   5.726674  15.926460
one       6.703488
two      27.884292
three    14.848811
Name: a, dtype: float64 <class 'pandas.core.series.Series'>
               b          c
one    86.947128   3.099274
two    24.205938  84.632230
three  22.924772   5.726674 <class 'pandas.core.frame.DataFrame'>
a     6.703488
b    86.947128
c     3.099274
d    58.928647
Name: one, dtype: float64 <class 'pandas.core.series.Series'>
               a          b          c          d
three  14.848811  22.924772   5.726674  15.926460
two    27.884292  24.205938  84.632230  11.468931 <class 'pandas.core.frame.DataFrame'>

In [40]:
# df[] - 选择列
# 一般用于选择列，也可以选择行

df = pd.DataFrame(np.random.rand(12).reshape(3,4)*100,
                   index = ['one','two','three'],
                   columns = ['a','b','c','d'])
print(df)
print('-----')

data1 = df['a']
data2 = df[['b','c']]  # 尝试输入 data2 = df[['b','c','e']]
print(data1)
print(data2)
# df[]默认选择列，[]中写列名（所以一般数据colunms都会单独制定，不会用默认数字列名，以免和index冲突）
# 单选列为Series，print结果为Series格式
# 多选列为Dataframe，print结果为Dataframe格式

data3 = df[:2]
print(data3)
# df[]中为数字时，默认选择行，且只能进行切片的选择，不能单独选择（df[0]）
# 输出结果为Dataframe，即便只选择一行
# df[]不能通过索引标签名来选择行(df['one'])

# 核心笔记：df[col]一般用于选择列，[]中写列名

               a          b          c          d
one    44.423128  88.858482  10.138472   5.811620
two    33.781191  79.385494  60.713982  19.659515
three  75.848206  89.757178  57.303449  77.081816
-----
one      44.423128
two      33.781191
three    75.848206
Name: a, dtype: float64
               b          c
one    88.858482  10.138472
two    79.385494  60.713982
three  89.757178  57.303449
             a          b          c          d
one  44.423128  88.858482  10.138472   5.811620
two  33.781191  79.385494  60.713982  19.659515

In [206]:
# df.loc[] - 按index选择行

df1 = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   index = ['one','two','three','four'],
                   columns = ['a','b','c','d'])
df2 = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   columns = ['a','b','c','d'])
print(df1)
print(df2)
print('-----')

data1 = df1.loc['three']
data2 = df2.loc[3]
print(data1)
print(data2)
print('单标签索引\n-----')
# 单个标签索引，返回Series

data3 = df1.loc[['two','three','five']]
data4 = df2.loc[[3,2,1]]
print(data3)
print(data4)
print('多标签索引\n-----')
# 多个标签索引，如果标签不存在，则返回NaN
# 顺序可变

data5 = df1.loc['one':'three']
data6 = df2.loc[1:3]
print(data5)
print(data6)
print('切片索引')
# 可以做切片对象
# 末端包含

# 核心笔记：df.loc[label]主要针对index选择行，同时支持指定index，及默认数字index

               a          b          c          d
one    93.873065  57.486088  59.261524  80.404967
two    61.700869  38.550385  36.654812   8.354012
three  89.344906  58.477334  18.691551  50.603740
four   24.049498  65.714646  13.122174   9.546137
           a          b          c          d
0  17.579644  51.972270  22.642933  53.890596
1  92.937413  40.702127  53.380840   3.044497
2  89.633223  45.823604  78.964034  50.211368
3  55.743047  84.495607  53.600778  31.384479
-----
a    89.344906
b    58.477334
c    18.691551
d    50.603740
Name: three, dtype: float64
a    55.743047
b    84.495607
c    53.600778
d    31.384479
Name: 3, dtype: float64
单标签索引
-----
               a          b          c          d
two    61.700869  38.550385  36.654812   8.354012
three  89.344906  58.477334  18.691551  50.603740
five         NaN        NaN        NaN        NaN
           a          b          c          d
3  55.743047  84.495607  53.600778  31.384479
2  89.633223  45.823604  78.964034  50.211368
1  92.937413  40.702127  53.380840   3.044497
多标签索引
-----
               a          b          c          d
one    93.873065  57.486088  59.261524  80.404967
two    61.700869  38.550385  36.654812   8.354012
three  89.344906  58.477334  18.691551  50.603740
           a          b          c          d
1  92.937413  40.702127  53.380840   3.044497
2  89.633223  45.823604  78.964034  50.211368
3  55.743047  84.495607  53.600778  31.384479
切片索引

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:19: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike

In [209]:
# df.iloc[] - 按照整数位置（从轴的0到length-1）选择行
# 类似list的索引，其顺序就是dataframe的整数位置，从0开始计

df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   index = ['one','two','three','four'],
                   columns = ['a','b','c','d'])
print(df)
print('------')

print(df.iloc[0])
print(df.iloc[-1])
#print(df.iloc[4])
print('单位置索引\n-----')
# 单位置索引
# 和loc索引不同，不能索引超出数据行数的整数位置

print(df.iloc[[0,2]])
print(df.iloc[[3,2,1]])
print('多位置索引\n-----')
# 多位置索引
# 顺序可变

print(df.iloc[1:3])
print(df.iloc[::2])
print('切片索引')
# 切片索引
# 末端不包含!!!

               a          b          c          d
one    80.136806  32.434388  42.051301   8.361361
two    61.469997  41.796380  65.239062  95.098109
three  39.933112  41.065692  15.152876  21.174707
four   21.308154  34.445918  68.415655  75.514115
------
a    80.136806
b    32.434388
c    42.051301
d     8.361361
Name: one, dtype: float64
a    21.308154
b    34.445918
c    68.415655
d    75.514115
Name: four, dtype: float64
单位置索引
-----
               a          b          c          d
one    80.136806  32.434388  42.051301   8.361361
three  39.933112  41.065692  15.152876  21.174707
               a          b          c          d
four   21.308154  34.445918  68.415655  75.514115
three  39.933112  41.065692  15.152876  21.174707
two    61.469997  41.796380  65.239062  95.098109
多位置索引
-----
               a          b          c          d
two    61.469997  41.796380  65.239062  95.098109
three  39.933112  41.065692  15.152876  21.174707
               a          b          c          d
one    80.136806  32.434388  42.051301   8.361361
three  39.933112  41.065692  15.152876  21.174707
切片索引

In [213]:
# 布尔型索引
# 和Series原理相同

df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   index = ['one','two','three','four'],
                   columns = ['a','b','c','d'])
print(df)
print('------')

b1 = df < 20
print(b1,type(b1))
print(df[b1])  # 也可以书写为 df[df < 20]
print('------')
# 不做索引则会对数据每个值进行判断
# 索引结果保留 所有数据：True返回原数据，False返回值为NaN

b2 = df['a'] > 50
print(b2,type(b2))
print(df[b2])  # 也可以书写为 df[df['a'] > 50]
print('------')
# 单列做判断
# 索引结果保留 单列判断为True的行数据，包括其他列

b3 = df[['a','b']] > 50
print(b3,type(b3))
print(df[b3])  # 也可以书写为 df[df[['a','b']] > 50]
print('------')
# 多列做判断
# 索引结果保留 所有数据：True返回原数据，False返回值为NaN

b4 = df.loc[['one','three']] < 50
print(b4,type(b4))
print(df[b4])  # 也可以书写为 df[df.loc[['one','three']] < 50]
print('------')
# 多行做判断
# 索引结果保留 所有数据：True返回原数据，False返回值为NaN

               a          b          c          d
one    94.420487  83.175348   2.683390  82.062566
two    12.609451  94.327112   9.042897  16.593952
three  89.015933  57.169500  95.630917  30.900547
four   65.805599  66.359516  69.921235  73.171472
------
           a      b      c      d
one    False  False   True  False
two     True  False   True   True
three  False  False  False  False
four   False  False  False  False <class 'pandas.core.frame.DataFrame'>
               a   b         c          d
one          NaN NaN  2.683390        NaN
two    12.609451 NaN  9.042897  16.593952
three        NaN NaN       NaN        NaN
four         NaN NaN       NaN        NaN
------
one       True
two      False
three     True
four      True
Name: a, dtype: bool <class 'pandas.core.series.Series'>
               a          b          c          d
one    94.420487  83.175348   2.683390  82.062566
three  89.015933  57.169500  95.630917  30.900547
four   65.805599  66.359516  69.921235  73.171472
------
           a     b
one     True  True
two    False  True
three   True  True
four    True  True <class 'pandas.core.frame.DataFrame'>
               a          b   c   d
one    94.420487  83.175348 NaN NaN
two          NaN  94.327112 NaN NaN
three  89.015933  57.169500 NaN NaN
four   65.805599  66.359516 NaN NaN
------
           a      b      c      d
one    False  False   True  False
three  False  False  False   True <class 'pandas.core.frame.DataFrame'>
        a   b        c          d
one   NaN NaN  2.68339        NaN
two   NaN NaN      NaN        NaN
three NaN NaN      NaN  30.900547
four  NaN NaN      NaN        NaN
------

In [215]:
# 多重索引：比如同时索引行和列
# 先选择列再选择行 —— 相当于对于一个数据，先筛选字段，再选择数据量

df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   index = ['one','two','three','four'],
                   columns = ['a','b','c','d'])
print(df)
print('------')
print(df['a'].loc[['one','three']])   # 选择a列的one，three行
print(df[['b','c','d']].iloc[::2])   # 选择b，c，d列的one，three行
print(df[df['a'] < 50].iloc[:2])   # 选择满足判断索引的前两行数据

               a          b          c          d
one    30.035730  52.690168  38.579094  67.134663
two    22.360414  73.162629  21.315064  83.744215
three  11.898251  10.749900  22.952255  18.043445
four   40.309336  84.896418  36.523559  36.860187
------
one      30.035730
three    11.898251
Name: a, dtype: float64
               b          c          d
one    52.690168  38.579094  67.134663
three  10.749900  22.952255  18.043445
             a          b          c          d
one  30.035730  52.690168  38.579094  67.134663
two  22.360414  73.162629  21.315064  83.744215

In [225]:
#作业1：如图创建Dataframe(4*4，值为0-100的随机数)，通过索引得到以下值
# ① 索引得到b，c列的所有值
# ② 索引得到第三第四行的数据
# ③ 按顺序索引得到two，one行的值
# ④ 索引得到大于50的值

df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,index = ['one','two','three','four'],columns = ['a','b','c','d'])

print(df)
print('-----------------')
print(df[['b','c']])
print('-----------------')
print(df[2:4])
print('-----------------')
print(df.loc[['two','one']])
print('-----------------')
print(df[df>50])

               a          b          c          d
one    40.782415  64.164344  53.443735   5.235289
two    85.794604  84.423452   9.456588  23.387855
three  52.318221  55.211439  87.160801  96.769661
four    8.919474  26.165826  99.707385  54.087792
-----------------
               b          c
one    64.164344  53.443735
two    84.423452   9.456588
three  55.211439  87.160801
four   26.165826  99.707385
-----------------
               a          b          c          d
three  52.318221  55.211439  87.160801  96.769661
four    8.919474  26.165826  99.707385  54.087792
-----------------
             a          b          c          d
two  85.794604  84.423452   9.456588  23.387855
one  40.782415  64.164344  53.443735   5.235289
-----------------
               a          b          c          d
one          NaN  64.164344  53.443735        NaN
two    85.794604  84.423452        NaN        NaN
three  52.318221  55.211439  87.160801  96.769661
four         NaN        NaN  99.707385  54.087792

In [226]:
'''
【课程2.7】  Pandas数据结构Dataframe：基本技巧

数据查看、转置 / 添加、修改、删除值 / 对齐 / 排序

'''

'\n【课程2.7】  Pandas数据结构Dataframe：基本技巧\n\n数据查看、转置 / 添加、修改、删除值 / 对齐 / 排序\n\n'

In [231]:
# 数据查看、转置

df = pd.DataFrame(np.random.rand(16).reshape(8,2)*100,
                   columns = ['a','b'])
print(df.head(2))
print(df.tail())
# .head()查看头部数据
# .tail()查看尾部数据
# 默认查看5条

print(df.T)
# .T 转置

           a          b
0  97.306529   1.376169
1  76.980118  47.076661
           a          b
3  65.883454  52.148090
4  56.000765  96.033023
5  15.582843  22.033413
6  45.577092  23.210142
7  36.490630  28.086533
           0          1          2          3          4          5  \
a  97.306529  76.980118  80.840110  65.883454  56.000765  15.582843
b   1.376169  47.076661  32.642264  52.148090  96.033023  22.033413

           6          7
a  45.577092  36.490630
b  23.210142  28.086533

In [233]:
# 添加与修改

df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   columns = ['a','b','c','d'])
print(df)

df['e'] = 10
df.loc[4] = 20
print(df)
# 新增列/行并赋值

df['e'] = 20
df[['a','c']] = 100
print(df)
# 索引后直接修改值

           a          b          c          d
0  57.380993  28.397301  98.938283  91.778685
1  63.057538  48.456955  88.865416   4.241734
2   5.349864  27.945466  81.269599  70.105043
3  18.216275   5.130059  17.592586  52.969894
           a          b          c          d   e
0  57.380993  28.397301  98.938283  91.778685  10
1  63.057538  48.456955  88.865416   4.241734  10
2   5.349864  27.945466  81.269599  70.105043  10
3  18.216275   5.130059  17.592586  52.969894  10
4  20.000000  20.000000  20.000000  20.000000  20
     a          b    c          d   e
0  100  28.397301  100  91.778685  20
1  100  48.456955  100   4.241734  20
2  100  27.945466  100  70.105043  20
3  100   5.130059  100  52.969894  20
4  100  20.000000  100  20.000000  20

In [239]:
# 删除  del / drop()

df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   columns = ['a','b','c','d'])
print(df)

del df['a']
print(df)
print('-----')
# del语句 - 删除列

print(df.drop(0))
print(df.drop([1,2]))
print(df)
print('-----')
# drop()删除行，inplace=False → 删除后生成新的数据，不改变原数据

print(df.drop(['d'], axis = 1))
print(df)
# drop()删除列，需要加上axis = 1，inplace=False → 删除后生成新的数据，不改变原数据

           a          b          c          d
0  28.148244  33.115347   9.081742  88.736238
1  57.981884  12.975120  14.421225   2.943712
2  79.323098  82.332539  94.042860  91.607572
3  57.113809  79.848134  95.126188  87.085348
           b          c          d
0  33.115347   9.081742  88.736238
1  12.975120  14.421225   2.943712
2  82.332539  94.042860  91.607572
3  79.848134  95.126188  87.085348
-----
           b          c          d
1  12.975120  14.421225   2.943712
2  82.332539  94.042860  91.607572
3  79.848134  95.126188  87.085348
           b          c          d
0  33.115347   9.081742  88.736238
3  79.848134  95.126188  87.085348
           b          c          d
0  33.115347   9.081742  88.736238
1  12.975120  14.421225   2.943712
2  82.332539  94.042860  91.607572
3  79.848134  95.126188  87.085348
-----
           b          c
0  33.115347   9.081742
1  12.975120  14.421225
2  82.332539  94.042860
3  79.848134  95.126188
           b          c          d
0  33.115347   9.081742  88.736238
1  12.975120  14.421225   2.943712
2  82.332539  94.042860  91.607572
3  79.848134  95.126188  87.085348

In [243]:
# 对齐

df1 = pd.DataFrame(np.random.randn(10, 4), columns=['A', 'B', 'C', 'D'])
df2 = pd.DataFrame(np.random.randn(7, 3), columns=['A', 'B', 'C'])
print(df1)
print(df2)
print('------------------------')
print(df1 + df2)
# DataFrame对象之间的数据自动按照列和索引（行标签）对齐

          A         B         C         D
0 -1.406821  1.962876 -0.689074 -0.024369
1 -0.427469 -0.890634 -0.680596  0.311470
2  0.928696 -0.772190 -1.847820 -0.472749
3 -0.008485 -0.405512  1.142377 -0.649884
4 -0.147888 -1.735640 -0.105616  0.015700
5 -1.396049  0.110753 -0.313125  2.067577
6 -0.169725 -1.177387 -0.587792 -0.535041
7 -0.535146 -1.136069  0.538708  0.123818
8  0.643723 -0.986483 -0.998690 -0.531000
9 -0.426931 -1.418043 -0.441857 -0.827773
          A         B         C
0  0.699794 -1.076771  0.077250
1  0.418995 -0.024051  0.432865
2 -0.910883 -0.530172 -2.730673
3 -0.877409  0.901545  2.620381
4  0.038167  0.639507  0.787927
5  0.458396  0.013641  0.186242
6 -1.373463 -1.173318 -0.539658
------------------------
          A         B         C   D
0 -0.707027  0.886104 -0.611824 NaN
1 -0.008474 -0.914686 -0.247731 NaN
2  0.017813 -1.302362 -4.578493 NaN
3 -0.885893  0.496032  3.762759 NaN
4 -0.109721 -1.096133  0.682311 NaN
5 -0.937654  0.124393 -0.126883 NaN
6 -1.543188 -2.350705 -1.127450 NaN
7       NaN       NaN       NaN NaN
8       NaN       NaN       NaN NaN
9       NaN       NaN       NaN NaN

In [249]:
# 排序1 - 按值排序 .sort_values
# 同样适用于Series

df1 = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   columns = ['a','b','c','d'])
print(df1)
print(df1.sort_values(['a'], ascending = True))  # 升序
print(df1.sort_values(['a'], ascending = False))  # 降序
print('------')
# ascending参数：设置升序降序，默认升序
# 单列排序
df2 = pd.DataFrame({'a':[1,1,1,1,2,2,2,2],
                  'b':list(range(8)),
                  'c':list(range(8,0,-1))})
print(df2)
print(df2.sort_values(['a','c']))
# 多列排序，按列顺序排序

# df2 = pd.DataFrame({'a':list(np.random.randint(10,size = 8)),  #如果a的值为随机的
#                   'b':list(range(8)),
#                   'c':list(range(8,0,-1))})
# print(df2)
# print(df2.sort_values(['a','c']))                              #排序时c的顺序按照对应的a的顺序排序
# # 多列排序，按列顺序排序

           a          b          c          d
0  52.581001  18.668166   5.690537  30.824090
1  50.639235  92.695541  69.612590  28.532565
2  87.165696  80.850294  36.173631  72.481518
3  49.999464  30.576512  98.952873  40.142649
           a          b          c          d
3  49.999464  30.576512  98.952873  40.142649
1  50.639235  92.695541  69.612590  28.532565
0  52.581001  18.668166   5.690537  30.824090
2  87.165696  80.850294  36.173631  72.481518
           a          b          c          d
2  87.165696  80.850294  36.173631  72.481518
0  52.581001  18.668166   5.690537  30.824090
1  50.639235  92.695541  69.612590  28.532565
3  49.999464  30.576512  98.952873  40.142649
------
   a  b  c
0  1  0  8
1  1  1  7
2  1  2  6
3  1  3  5
4  2  4  4
5  2  5  3
6  2  6  2
7  2  7  1
   a  b  c
3  1  3  5
2  1  2  6
1  1  1  7
0  1  0  8
7  2  7  1
6  2  6  2
5  2  5  3
4  2  4  4

In [251]:
# 排序2 - 索引排序 .sort_index

df1 = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                  index = [5,4,3,2],
                   columns = ['a','b','c','d'])
df2 = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                  index = ['h','s','x','g'],
                   columns = ['a','b','c','d'])
print(df1)
print(df1.sort_index())
print(df2)
print(df2.sort_index())
# 按照index排序
# 默认 ascending=True, inplace=False

           a          b          c          d
5  18.411006  10.472777  24.243296  74.493453
4  17.788840  33.160903  78.793322  16.421259
3  46.085165   2.050667  66.672748  79.424619
2  79.730647  30.479412  47.101301  34.653529
           a          b          c          d
2  79.730647  30.479412  47.101301  34.653529
3  46.085165   2.050667  66.672748  79.424619
4  17.788840  33.160903  78.793322  16.421259
5  18.411006  10.472777  24.243296  74.493453
           a          b          c          d
h  87.984580  95.620708  44.205050  46.451214
s   5.598292  52.233290  48.185621   3.888846
x  37.327604   4.455766  99.731062  55.648349
g  25.340749  87.925572  72.769024  90.711649
           a          b          c          d
g  25.340749  87.925572  72.769024  90.711649
h  87.984580  95.620708  44.205050  46.451214
s   5.598292  52.233290  48.185621   3.888846
x  37.327604   4.455766  99.731062  55.648349

In [267]:
#作业1：创建一个3*3，值在0-100区间随机值的Dataframe（如图），分别按照index和第二列值大小，降序排序
df1 = pd.DataFrame(np.random.rand(9).reshape(3,3)*100,index = list('523'),columns = ['v1','v2','v3'])
print(df1)
print(df1.sort_index(ascending=False))
print(df1.sort_values(['v2','v1','v3'],ascending=False))

          v1         v2         v3
5  58.643276  57.690391   2.230346
2  50.119696  11.771571  74.475246
3  78.756319  61.429783  70.962985
          v1         v2         v3
5  58.643276  57.690391   2.230346
3  78.756319  61.429783  70.962985
2  50.119696  11.771571  74.475246
          v1         v2         v3
3  78.756319  61.429783  70.962985
5  58.643276  57.690391   2.230346
2  50.119696  11.771571  74.475246

In [282]:
#作业2：创建一个5*2，值在0-100区间随机值的Dataframe（如图）df1，通过修改得到df2
df1 = pd.DataFrame(np.random.rand(10).reshape(5,2)*100,index = list('abcde'),columns = ['v1','v2'])
print(df1)
# df1.drop('e',inplace = True)
# df1.loc['b']= 100
# df2 = df1.T
df2 = df1.T.drop('e',axis = 1)
df2['b'] = 100
print(df2)     #为什么输出的值不是整数？

          v1         v2
a  65.111067  31.313192
b  35.908859  34.170522
c  35.371372  63.172504
d   7.574113  49.561097
e  21.001657  79.249693
            a    b          c          d
v1  65.111067  100  35.371372   7.574113
v2  31.313192  100  63.172504  49.561097